<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--存储库bean-->
    <bean id="bRepository" class="org.example.dao.repositoryimpl.RepositoryImplement"/>
    <bean id="b1Repository" class="org.example.dao.repositoryimpl.OracleDao"/>

    <!--用户类-->
    <!--是先创建对象，然后调用set-->
    <bean id="bUser" class="org.example.domain.MyUser">
        <property name="date" ref="bDate"/>
        <property name="string" value="666"/>
    </bean>

    <!--用户日期类-->
    <bean id="bDate" class="java.util.Date"/>

    <!--服务bean-->
    <bean id="bService" class="org.example.service.imp.UserServiceImpl">
        <property name="userRepositoryImplement" ref="b1Repository"/>
    </bean>


</beans>